(
    axes: {

    },
    actions: {
        "confirm": [
            [Key(Return)]
        ],
        "ui_up": [
            [Key(W)],
            [Key(Up)],
        ],
        "ui_down": [
            [Key(S)],
            [Key(Down)],
        ],
    },
)