(
    axes: {

    },
    actions: {
        "confirm": [
            [Key(Return)]
        ],
        "up": [
            [Key(W)]
        ],
        "down": [
            [Key(S)]
        ],
    },
)